orchestrator/n8n/workflows/test-workflow.json
{
  "name": "Test Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "https://httpbin.org/get",
        "responseFormat": "json"
      },
      "id": "2",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "message": "={{$json[\"url\"]}}"
      },
      "id": "3",
      "name": "Debug",
      "type": "n8n-nodes-base.debug",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Debug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "test-workflow",
  "createdAt": "2025-08-22T22:00:00.000Z",
  "updatedAt": "2025-08-22T22:00:00.000Z"
}